@using Organic_Shop_project.Areas.Admin.ViewModels.CategoryComponent;
@using Organic_Shop_project.Models;
@model List<CategoryComponent>


<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <div style="display:flex;justify-content:space-between; align-items: center;margin-bottom:5px;">
                <h5 class="card-title">Category Component</h5>
                

               @*  <div class="Filter">


                 <form>
                        <div class="form-group">
                            <label asp-for="@Model.Name"></label>
                            <input asp-for="@Model.Name" placeholder="Enter Name">
                            <span asp-validation-for="@Model.Name" class="text-danger"></span>
                        </div>
                      <div>
                            <div class="form-group">
                            <label asp-for="@Model.MinQuantity"></label>
                            <input asp-for="@Model.MinQuantity" placeholder="Enter Name">
                        </div
                        <div class="form-group">
                            <label asp-for="@Model.MaxQuantity"></label>
                            <input asp-for="@Model.MaxQuantity" placeholder="Enter Name">
                        </div>
                         <div class="form-group">
                            <label asp-for="@Model.CategoryId"></label>
                            <select asp-for="@Model.CategoryId" asp-items="@Model.Categories" placeholder="Enter Name"></select>
                            <option value="">Select Category</option>
                        </div>
                      </div>
                        <button>Submit</button>
                 </form>


                </div>
 *@


                <div class="col-2">
                    <a asp-controller="CategoryComponent" asp-action="Create" asp-area="admin" class="btn btn-outline-success" style="background-color: green; ">
                        Create Category Component 
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Photo</th>
                            <th scope="col">Title</th>
                            <th scope="col">Category Name</th>
                       
                            <th scope="col">Description</th>
         


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var categoryComponent in Model)
                        {
                            <tr>
                                <th>@categoryComponent.Id</th>
                                <td><img style="width:150px;height:150px;object-fit:cover" class="img-thumbnail" src="~/assets/img/@categoryComponent.FilePath" /></td>
                                <td>@categoryComponent.Name</td>@*
                            <td>@categoryComponent.Category.Name</td> *@




                                <td>
                                    <a asp-action="update" asp-controller="categorycomponent" asp-area="admin" asp-route-id="@categoryComponent.Id" class="btn btn-outline-warning">Update</a>
                                    <form method="post" asp-controller="CategoryComponent" asp-action="Delete" asp-area="Admin" asp-route-id="@categoryComponent.Id">
                                        <button type="submit" class="btn btn-outline-danger">Delete</button>
                                    </form>
                                </td>
                            </tr>

                        }


                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>